<?php

// use these in unit tests, as required
class Config {

  static public $database = array(
    'host' => 'localhost',
    'port' => '3306',
    'user' => 'snapwww',
    'pass' => 'password',
    'database' => 'snapwww'
  );
  
  /**
  * Points at an Apache-writable directory -- absolute filesystem path, tempfile location for charts tempfiles
  */
  static public $temp = '/tmp';

  /**
  * Points at an Apache-readable directory that is public-facing -- absolute path, where Charts will be served to user
  */
  static public $charts = '/var/www/html/charts';

  /**
  * Points at absolute path where the SNAP logo is stored, to be integrated for the Charts Export
  */
  static public $images = '/var/www/html/images/';

  // Code associated with the web site -- www.snap.uaf.edu is UA-3978613-1
  static public $googleAnalyticsToken = 'UA-3978613-3';

}
?>
