#mapMenu {
	color: #000;
}

.menuSpacer {
	display: none;
}

#map_wrapper {
	position: relative; /* to position legend */
	padding: 0 10px;
}

#map_canvas {
	margin: .25in auto;
	page-break-inside: avoid;
	min-width: 7in;
}

#map_footer {
	display: none;
}


#legend_wrapper table {
	border-collapse: collapse;
}

#legend_wrapper {
	display: none;
	font-size: 8pt;
	position: absolute;
	top: 10pt;
	left: 20pt;
	border: 1px solid #888;
	border-radius: 6pt;
	position: absolute;
	background-color: rgba(255, 255, 255, .8);
	padding: 1em;
}

#legend_wrapper h4 {
	font-size: 10pt;
	text-align: center;
	padding: 1ex;
	margin: 0 0 1ex 0;
}

#legend_wrapper td {
	min-width: 2em;
}

#legend_wrapper td + td {
	padding-left: 1ex;
}

#map_logo {
	display: none;
}

#model_menu {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

#model_menu p {
	display: none;
}

#mapMenu h4 {
	margin: 1ex 0 0;
	padding: 0 0 .25ex 0;
	font-size: 12pt;
	font-weight: normal;
}

#mapMenu .wrapper {
	display: inline-block;
	margin-right: 1ex;
}

.menuOptions {
	display: none;
}

#map_menu_bar {
	display: none;
}

#map_footer #helpBlock {
	display: none;
}

#printFooter {
	display: block;
	font-size: 10pt;
}

#printFooter img {
	float: right;
	width: 2in;
}

address {
	width: 4in;
	float: left;
	line-height: 1.5;
	font-style: normal;
}