@import "snap_variables";

/* Styles for project list page */
.view-projects {
  .views-row {
    float: left;
    width: 45%;
    article header h2 {
      margin-left: 28%;
      
    }
    .field-type-text-with-summary {
      margin: none;
      padding: none;
      width: 70%;
    }
    // Hide the "Read more..." links.
    ul.links {
      display: none;
    }
    img {
      float: left;
      width: 25%;
      padding: 0 1em 0 0;
    }
  }
}

/* Styles for individual project */
article.node-projects {
  @include zen-nested-container;

  .field-name-body {
    @include zen-grid-item(3, 1);
  }
  
  .group-right-sidebar {

    @include zen-float(right);

    .field {
      margin-bottom: 2em;
    }

    .field-label {
        color: $snapDarkGrey;
        padding: 1em 0 1ex 0;
      }

    .field-name-field-collaborators {
      width: 350px;
      h2 {
       display: none;
      }
      
      .field-item {
        float: left;

        .field {
          margin: 0;
        }

        // The DOM around here is strange.
        & article .field-item {
          float: none;
          a {  
            @include vertical-align-dynamic-content(150px, 125px);
          }
          img {
            margin: 0 1em 1em 0;
          }
        }
      } 
    }
  }
}
