$snapGrey: rgb(199,201,199);
$snapGreen: rgb(150,167,58);
$snapDarkGrey: rgb(106,112,114);

$snaplink: rgb(156,0,255);
$linkvisited: rgb(109,0,178);
 
$border-radius: 3px;
$border: 1px solid $snapGreen;

// Shadow properties
$x: .1rem;
$y: .1rem;
$blur: .2rem;
$shadow-color: rgba(0,0,0,.5);