/**
 * @file
 * SNAP styling
 *
 * Custom styling for our SNAP theme goes here.
 */
 @import "snap_variables";
@import "snap_collaborators";

 a {
  text-decoration: none;
}

/* Header */
#header {
    margin: 3rem 0;
    position: relative;

    #logo {
        img {
            height: 6rem;
        }
    }

    h1 {
        position: absolute;
        right: 0;
        top: 2.1rem;

        a {
            color: $snapDarkGrey;
        }
    }
}

/* Navigation */
/* Hide breadcrumb stuff */
#navigation {
    display: none;
}
#content nav.breadcrumb {
    display: none;
}
#block-system-navigation {
   
   position: relative;
   
   margin: 9rem 0 0;
   padding: 0;
   
   ul.menu {
        margin: 0;
        padding: 0 2rem; 
        
        li.menu__item {

            list-style-type: none;
            display: inline-block;
            padding-right: 1.5em;

            a {
                font-size: 1.2  * $base-font-size;
                color: $snapDarkGrey;
            }

            ul.menu {
                
                li.menu__item.first {
                        margin-left: 1.5rem;
                }

                li.menu__item {

                    a {
                        text-shadow: .1rem .1rem #333;
                        font-size: 1.2 * $base-font-size;
                        color: white;
                        font-weight: normal;
                        
                    }    
                }
                @include grey-bar-formatting();
                position: absolute;
                top: 3rem;
                left: 0;
                width: 100%;
                padding: 0 -1.5rem 0 1.5rem;
                
            }
        }
    }
}

/* Footer */
footer {

  .socialbar {
    @include grey-bar-formatting();
    width: 100%;
    ul {
      display: inline;
      list-style-type: none;
      li {
        font-weight: normal;
        display: inline-block;
        margin-left: 3rem;
        a {
          color: white;
      }
  }
}
}

.left {
    @include zen-grid-item(1, 1);
    img {
      height: 4rem;
  }
}

.middle {
    @include zen-grid-item(3, 2);
}

.right {
    @include zen-grid-item(1, 5);
}

}


/* typography  */
h1, h2, h3, h4, h5, h6 {
	color: $snapGreen;
	margin: 2rem 0 .3rem 0;
}

h1, h2 {
	line-height: 1.9rem;
}

h3, h4, h5, h6 {
	line-height: 1.2rem;
}

h5, h6 {
	color: black;
	letter-spacing: .05rem;
	text-transform: uppercase;
	background-color: lighten($snapGreen, 40%);
	padding: .05rem;
}

p {
	color: $snapDarkGrey;
	margin: 0 0 1rem 0;
	line-height: 1.4rem;
	font-size: .9rem;
	
	strong {
		font-size: 1rem;
		font-weight: bold;
	}
	&.code {
		font-family: $lekton;
		color: black;
		font-size: .8rem;
		background-color: lighten($snapGrey, 10%);
		padding: .5rem;
		display: inline;
	}
	abbr {
		padding: 0 2px 0 2px;
		background: lighten($snapGreen, 50%);
	}
}

ul, ol {
	font-size: .9rem;
	color: $snapDarkGrey;
	line-height: 1.2rem;
	margin: 0 10rem 1rem 2rem;
}

blockquote {
	border-left: 4px solid lighten($snapGreen, 20%);
	margin: 0 3rem;
	padding: 0 0 0 1rem;
	font-style: italic;
}



/* Links  */
  a:link {
	  text-decoration: none;
	  font-weight: bold;
	  color: $snaplink;
	  padding: 2px;  /* makes it easier to hover over link without squinting and pinpointing cursor */
	  
	  &:visited {
		  color: $linkvisited;
	  }
	  
	  &:hover,
	  &:focus {
		  @include link-transition;
		  color: $snapGreen;
	  }
	  
	  &:active {
		  padding-top: 2px;
	  }
  }