@import "snap_variables";

/* This ID name (below) is a special case where our SCSS code needs to know what Drupal decided the ID should be. This is the ID that Drupal gave the block, so we need to use it here. DO NOT CHANGE.  */
#block-block-4  {   
	padding: 0;
	margin: 0;
	text-align: left;

	.expertise {
		width: auto;
		margin: 0 0 1.5em 0;
		background-color: white;
		padding: 1em 4em 1em 4em;
		min-height: 11.8em;
		
		h2 {
			font-size: 2em;
			color: $snapDarkGrey;
			line-height: 1.2;
			font-weight: 200;
			margin: 0;
		}

		p {
			font-size: 1.15em;
			margin: .3em 2.5em 0 0;
			text-align: left;
			font-weight: 200;
		}
		
		.drop-shadow {
			position: relative;
			width: 90%;
		}
		
		.drop-shadow:before,
		.drop-shadow:after {
			content: "";
			position: absolute;
			z-index: -1;
			bottom: 15px;
			left: 10px;
			width: 50%;
			height: 20%;
			box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
			transform: rotate(-3deg);
		}
		
		.drop-shadow:after {
			right: 10px;
			left: auto;
			transform: rotate(3deg);
		}
	}
	
	.icon {
		float: left;
		padding: 0;
		margin: .55em 2.5em 1em 0;
		width: 15%;
		height: auto;
		text-align: center;
  }
}
		