$snapGrey: rgb(130,139,141);
$snapGreen: rgb(152,169,19);
$snapDarkGrey: rgb(106, 113, 115);

$snaplink: rgb(156,0,255);
$linkvisited: rgb(109,0,178);
 
$border-radius: 3px;
$border: 1px solid $snapGreen;