#block-views-collaborators-block {
  .view-content {
    
    display: table;

      .views-row {
        display: table-cell;
        height: 150px;

        a.collaborator img {
          vertical-align: middle;
          margin: 2rem;
        }
      }

  }
  
}