/**
 * @file
 * SNAP styling
 *
 * Custom styling for our SNAP theme goes here.
 */
 @import "snap_variables";
@import "snap_collaborators";

 a {
  text-decoration: none;
}

/* Header */
#header {
    margin: 3rem 0;
    position: relative;

    #logo {
        img {
            height: 6rem;
        }
    }

    h1 {
        position: absolute;
        right: 0;
        top: 2.1rem;

        a {
            color: $snapDarkGrey;
        }
    }
}

/* Navigation */
/* Hide breadcrumb stuff */
#navigation {
    display: none;
}
#content nav.breadcrumb {
    display: none;
}
#block-system-navigation {
   
   position: relative;
   
   margin: 9rem 0 0;
   padding: 0;
   
   ul.menu {
        margin: 0;
        padding: 0 2rem; 
        
        li.menu__item {

            list-style-type: none;
            display: inline-block;
            padding-right: 1.5em;

            a {
                font-size: 1.2  * $base-font-size;
                color: $snapDarkGrey;
            }

            ul.menu {
                
                li.menu__item.first {
                        margin-left: 1.5rem;
                }

                li.menu__item {

                    a {
                        text-shadow: .1rem .1rem #333;
                        font-size: 1.2 * $base-font-size;
                        color: white;
                        font-weight: normal;
                        
                    }    
                }
                @include grey-bar-formatting();
                position: absolute;
                top: 3rem;
                left: 0;
                width: 100%;
                padding: 0 -1.5rem 0 1.5rem;
                
            }
        }
    }
}

/* Footer */
footer {

  .socialbar {
    @include grey-bar-formatting();
    width: 100%;
    ul {
      display: inline;
      list-style-type: none;
      li {
        font-weight: normal;
        display: inline-block;
        margin-left: 3rem;
        a {
          color: white;
      }
  }
}
}

.left {
    @include zen-grid-item(1, 1);
    img {
      height: 4rem;
  }
}

.middle {
    @include zen-grid-item(3, 2);
}

.right {
    @include zen-grid-item(1, 5);
}

}

/* Links  */
  a:link {
	 text-decoration: none;
     font-weight: bold;
     color: $snaplink;
     padding: 5px;  /* makes it easier to hover over link without squinting and pinpointing cursor */
  }
  a:visited {
     color: $linkvisited;
  }
  a:hover,
  a:focus {
     @include link-transition;
     color: $snapGreen;
  }
  a:active {
     padding-top: 2px;
  }
 
