@import "snap_variables";

/* Navigation.

We display this block in the header to ease some of the styling issues,
so some of the styles handling wrapping the navigation is in the header stylesheet.

*/

/* Hide breadcrumb stuff */
#navigation {
    display: none;
}


#content nav.breadcrumb {
    //display: none;
}

#block-system-navigation {
    position: relative;
    top: -3.5em; // ??

    ul.menu {

        text-align: right;
        text-transform: uppercase;
        
        li.menu__item {

            padding-right: 2em;
            list-style-type: none;
            display: inline-block;

            a {
                font-size: $base-font-size;
                color: $snapDarkGrey;
            }
        }
    }
}